.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 300px;
  place-items: end;
}
.btn {
  width: 100px;
  padding: 10px;

}
.label {
  display: flex;
  gap: 10px;
  font-weight: 500;
}
.input {
  width: 200px;

  font-weight: 500;
  outline: none;

}
